In [2]:
1+1 # Shift + Enter

2

In [3]:
print('hello')

hello

In [6]:
x = "Hello World{}"

In [7]:
x.upper()

'HELLO WORLD{}'

In [8]:
x.lower()

'hello world{}'

In [10]:
x.format('INSERT')

'Hello WorldINSERT'

In [11]:
result = 100/777

In [12]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [13]:
name = "Jose"

In [14]:
print("hello his name is {}".format(name))

hello his name is Jose

In [17]:
print(f"Hello his name is {name}")

Hello his name is Jose

In [18]:
%%writefile myfile.txt
this is a text file
this is a second line
third line

Writing myfile.txt

In [19]:
myfile = open('myfile.txt')

In [20]:
myfile

In [21]:
pwd

'C:\\Users\\Marek\\PythonProjects'

In [22]:
myfile.read()

'this is a text file\nthis is a second line\nthird line\n'

In [23]:
myfile.read()

''

In [25]:
myfile.seek(0)

0

In [26]:
myfile.readlines()

['this is a text file\n', 'this is a second line\n', 'third line\n']

In [27]:
myfile.readlines()

[]

In [4]:
def say_hello():
    print("Hello")
    print("Hey")
    print("Hola")

In [5]:
say_hello()

Hello
Hey
Hola

In [8]:
def say_hello(name='Default'):
    print(f'hello {name}')

In [9]:
say_hello('Jose')

hello Jose

In [10]:
say_hello()

hello Default

In [11]:
def add_num(num1,num2):
    return num1 + num2

In [14]:
result = add_num(10,20)

In [15]:
result

30

In [16]:
def sum_numbers(num1, num2):
    return num1+num2

In [17]:
sum_numbers('1','2')

'12'

In [20]:
def even_check(number):
    return number % 2 == 0

In [21]:
even_check(20)

True

In [22]:
#return true if any number is even inside a list

In [35]:
def check_even_list(num_list):
    #return all the even numbers in a list
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    return even_numbers

In [37]:
check_even_list([1,3,4,5,2])

[4, 2]

In [38]:
stock_prices = [('appl',200),('goog',400),('micr',100)]

In [40]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [47]:
work_hours = [('Abby',100),('Billy',900),('Cassie',800)]

def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    #return
    return(employee_of_month, current_max)

In [48]:
employee_check(work_hours)

('Billy', 900)

In [49]:
name, hours = employee_check(work_hours)

In [50]:
name

'Billy'

In [51]:
from random import shuffle

In [52]:
example = [1,2,3,4,5,6,7]

In [53]:
shuffle(example)

In [54]:
example

[1, 7, 2, 5, 3, 4, 6]

In [56]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [60]:
shuffle_list(example)

[3, 5, 1, 7, 6, 2, 4]

In [61]:
mylist = [' ','O',' ']

In [69]:
shuffle_list(mylist)

['O', ' ', ' ']

In [71]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0,1, or 2")

    return int(guess)

In [72]:
player_guess()

Pick a number: 0,1, or 24
Pick a number: 0,1, or 23
Pick a number: 0,1, or 21

1

In [76]:
def check_guess(mylist, guess):
    if mylist[guess] == 'O':
        print("Correct!")
        print(mylist)
    else:
        print("Wrong Guess!")
        print(mylist)

In [85]:
# INITIAL LIST
mylist = [' ','O',' ']

#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list, guess)

Pick a number: 0,1, or 22
Correct!
[' ', ' ', 'O']

In [97]:
def myfunc(*args):
    print(args)
    for item in args:
        return sum(args)*0.05

In [98]:
myfunc(15,20,90,30,45)

(15, 20, 90, 30, 45)

10.0

In [90]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"my fruit of choice is {kwargs['fruit']}")
    else:
        print('i did not find any fruit here')

In [92]:
myfunc(fruit='apple')

my fruit of choice is apple

In [95]:
def myfunc(*args, **kwargs):
    print(f"I would like {args[0]} {kwargs['food']}")

In [96]:
myfunc(10,20,30,fruit='orange',food='eggs')

I would like 10 eggs

In [128]:
def myfunc(*args):
    list = []
    for x in range(len(args)):
        if args[x]%2 == 0:
            list.append(args[x])
    return list

In [129]:
myfunc(1,2,23,25,68)

[2, 68]

In [151]:
def myfunc(word):
    result = ''
    for i in range(len(word)):
        if i%2 == 0:
            result = result + word[i].upper()
        else:
            result = result + word[i].lower()
    return result

In [152]:
myfunc('Hello')

'HeLlO'