____
**Write a function that computes the volume of a sphere given its radius.**

In [120]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [121]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [122]:
def ran_check(num,low,high):
    if num > low and num < high:
        return f"{num} is in the range between {low} and {high}"

In [132]:
def ran_check(num,low,high):
    if num in range(low, high+1):
        print(f"{num} is in the range between {low} and {high}")
    else:
        print("not in range")

In [133]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

In [134]:
ran_check(1,5,20)

not in range

If you only wanted to return a boolean:

In [127]:
def ran_bool(num,low,high):
    return num in range(low, high+1)

In [128]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

In [135]:
def up_low(s):
    
    d = {'upper':0,'lower':0}
    
    for i in s:
        if i.isupper():
            d['upper'] += 1
        elif i.islower():
            d['lower'] += 1
        else:
            pass
    return f"upper case: {d['upper']} lower case: {d['lower']}"

In [136]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

'upper case: 4 lower case: 33'

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [145]:
def unique_list(lst):
    new_list = []
    for i in lst:
        if i not in new_list:
            new_list.append(i)
            
    return new_list

In [147]:
def unique_list(lst):
    return list(set(lst))

In [148]:
unique_list([1,1,1,1,2,6,3,7,7,3,4,5])

[1, 2, 3, 4, 5, 6, 7]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [70]:
def multiply(numbers):  
    result = 1
    for number in numbers:
        result = result*number
    return result

In [71]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [149]:
def palindrome(s):
    result = s.replace(' ','')
    return result==result[::-1]

In [150]:
palindrome('hel leh')

True

In [151]:
palindrome('nurses run')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

In [152]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    str1 = str1.replace(" ","")
    pangram_set = set()
    alphabet_set = set()
    for i in str1:
        i = i.lower()
        pangram_set.add(i)
    for x in alphabet:
        alphabet_set.add(x)
    return pangram_set==alphabet_set

In [159]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    str1 = str1.replace(" ","")
    str1 = str1.lower()
    strset = set(str1)
    return strset==alphaset

In [160]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [161]:
ispangram("Nurses Run")

False

In [165]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'