## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

In [2]:
2*100/10+80+2**0-0.75

100.25

In [6]:
a = 4*(6+5)
b = 4*6+5
c = 4+6*5
print(a,b,c)

44 29 34

In [47]:
# Square root:
x = 4
x ** 0.5

2.0

In [17]:
# Square:
x = 2 
print(x**2)

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [18]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [19]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [20]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [21]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [22]:
# Method 1:
x = [0,0,0]
x

[0, 0, 0]

In [48]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [23]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [24]:
list4 = [5,3,4,6,1]

list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [25]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [26]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [34]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [45]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

## Tuples

How do you create a tuple?<br><br>t = ('a','b','c')

## Sets

Use a set to find the unique values of the list below:

In [46]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [49]:
# Answer before running cell
2 > 3

False

In [50]:
# Answer before running cell
3 <= 2

False

In [51]:
# Answer before running cell
3 == 2.0

False

In [52]:
# Answer before running cell
3.0 == 3

True

In [53]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [54]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False